<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Chess Analytics and Visualizations 
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/board">ChessBoard</a></li>
                <li><a href="/latestGame">PgnViewer</a></li>
                <li><a href="/test">Test</a></li>


            </ul>
        </div>
        
    </div>
    </nav>