<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="https://code.jquery.com/jquery-3.3.1.js" ></script>
    <link href="css/chessboard-1.0.0.min.css" rel="stylesheet">
    <script src="js/chessboard-1.0.0.min.js" type="text/javascript"></script>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div >
        <div id="board" style="width: 400px"></div>
    </div>
    <script>
        var board = new ChessBoard('board', <%- "'"+fen+"'" %> ); 
    </script>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>