<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div >
        <script>lichess_widgets.profile_big("light", "a12233", "My Lichess");</script>

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>